[submodule "external/microprofile/microprofile"]
	path = external/microprofile/microprofile
	url = https://github.com/jonasmr/microprofile.git
[submodule "external/glew/glew"]
	path = external/glew/glew
	url = https://github.com/nigels-com/glew.git
